table.stocks {
  width: 100%;
}
table.stocks td {
  padding: 5px 10px;
}
@-webkit-keyframes priceUpFlash {
  0% {
    background-color: inherit;
  }
  25% {
    background-color: #008000;
  }
  100% {
    background-color: inherit;
  }
}
@keyframes priceUpFlash {
  0% {
    background-color: inherit;
  }
  25% {
    background-color: #008000;
  }
  100% {
    background-color: inherit;
  }
}
@-webkit-keyframes priceDownFlash {
  0% {
    background-color: inherit;
  }
  25% {
    background-color: #ff0000;
  }
  100% {
    background-color: inherit;
  }
}
@keyframes priceDownFlash {
  0% {
    background-color: inherit;
  }
  25% {
    background-color: #ff0000;
  }
  100% {
    background-color: inherit;
  }
}
.animated.priceDownFlash {
  -webkit-animation-name: priceDownFlash;
  -moz-animation-name: priceDownFlash;
  -ms-animation-name: priceDownFlash;
  -o-animation-name: priceDownFlash;
  animation-name: priceDownFlash;
}
.animated.priceUpFlash {
  -webkit-animation-name: priceUpFlash;
  -moz-animation-name: priceUpFlash;
  -ms-animation-name: priceUpFlash;
  -o-animation-name: priceUpFlash;
  animation-name: priceUpFlash;
}
